<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach</title>
    <link rel = "stylesheet" href = "style.css">  
  </head>
  
  <body>
    COACH
	<div class = "Coach">
        <div id = "st1"></div>
        <div id = "st2"></div>
        <div id = "st3"></div>
        <div id = "st4"></div>
        <div id = "st5"></div>
        <div id = "st6"></div>
        <div id = "st7"></div>
        <div id = "st8"></div>
        <div id = "st9"></div>
        <div id = "st10"></div>
        <div id = "st11"></div>
        <div id = "st12"></div>
        <div id = "st13"></div>
        <div id = "st14"></div>
        <div id = "st15"></div>
        <div id = "st16"></div>
        <div id = "st17"></div>
        <div id = "st18"></div>
        <div id = "st19"></div>
        <div id = "st20"></div>
        <div id = "st21"></div>
        <div id = "st22"></div>
        <div id = "st23"></div>
        <div id = "st24"></div>
        <div id = "st25"></div>
        <div id = "st26"></div>
        <div id = "st27"></div>
        <div id = "st28"></div>
        <div id = "st29"></div>
        <div id = "st30"></div>
        <div id = "st31"></div>
        <div id = "st32"></div>
        <div id = "st33"></div>
        <div id = "st34"></div>
        <div id = "st35"></div>
        <div id = "st36"></div>
        <div id = "st37"></div>
        <div id = "st38"></div>
        <div id = "st39"></div>
        <div id = "st40"></div>
        <div id = "st41"></div>
        <div id = "st42"></div>
        <div id = "st43"></div>
        <div id = "st44"></div>
        <div id = "st45"></div>
        <div id = "st46"></div>
        <div id = "st47"></div>
        <div id = "st48"></div>
        <div id = "st49"></div>
        <div id = "st50"></div>
        <div id = "st51"></div>
        <div id = "st52"></div>
        <div id = "st53"></div>
        <div id = "st54"></div>
        <div id = "st55"></div>
        <div id = "st56"></div>
        <div id = "st57"></div>
        <div id = "st58"></div>
        <div id = "st59"></div>
        <div id = "st60"></div>
        <div id = "st61"></div>
        <div id = "st62"></div>
        <div id = "st63"></div>
        <div id = "st64"></div>
        <div id = "st65"></div>
        <div id = "st66"></div>
        <div id = "st67"></div>
        <div id = "st68"></div>
        <div id = "st69"></div>
        <div id = "st70"></div>
        <div id = "st71"></div>
        <div id = "st72"></div>
        <div id = "st73"></div>
        <div id = "st74"></div>
        <div id = "st75"></div>
  </body>
</html>
