{% extends "layout.html" %} {% block body %}
<div class="login-wrapper">
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
    }
    .login-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: center;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/50/%D0%9F%D0%BE%D0%B5%D0%B7%D0%B4_%D0%BD%D0%B0_%D1%84%D0%BE%D0%BD%D0%B5_%D0%B3%D0%BE%D1%80%D1%8B_%D0%A8%D0%B0%D1%82%D1%80%D0%B8%D1%89%D0%B5._%D0%92%D0%BE%D1%80%D0%BE%D0%BD%D0%B5%D0%B6%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C.jpg");
      width: 100%;
      background-size: cover;
      align-items: center;
    }
    .login-btn {
      background-color: #04aa6d; /* Green */
      border: none;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #04aa6d;
      color: white;
      font-weight: 700;
      border: 2px solid #04aa6d;
      border-radius: 12px;
    }
    .login-btn:hover {
      background-color: white;
      color: black;
    }
  </style>
  <title>Login</title>

  <div class="content-section">
    <div class="container">
      <form method="POST" action="" class="mx-auto" style="max-width: 400px">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Login</legend>

          <div class="form-group">
            <label for="email" class="form-control-label">Email</label>

            {% if form.email.errors %}
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-lg is-invalid"
              value=""
            />
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-lg"
            />
            {% endif %}
          </div>

          <div class="form-group">
            <label for="password" class="form-control-label">Password</label>

            {% if form.password.errors %}
            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg is-invalid"
            />
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg"
            />
            {% endif %}
          </div>

          <div class="form-check">
            <input
              type="checkbox"
              name="remember"
              id="remember"
              class="form-check-input"
            />
            <label for="remember" class="form-check-label">Remember me</label>
          </div>
        </fieldset>
        <div class="form-group text-center">
          <button type="submit" class="login-btn">Login</button>
        </div>

        <small
          class="ml-2"
          style="text-decoration: underline; text-align: center; width: 100%"
        >
          <a href="#">Forgot Password?</a>
        </small>
      </form>
    </div>
  </div>

  <div>
    <small class="text-muted text-center d-block">
      Need an account?
      <a
        class="ml-1"
        style="text-decoration: underline"
        href="{{ url_for('signup') }}"
        >Sign Up</a
      >
    </small>
  </div>
</div>
{% endblock %}
