{% extends "layout.html" %} {% block body %}
<div class="login-wrapper">
  <title>Sign Up</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
    }
    .login-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: center;
      background-image: url("../static/background.jpeg");
      width: 100%;
      background-size: cover;
      align-items: center;
    }
    .login-btn {
      background-color: #04aa6d; /* Green */
      border: none;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      background-color: #04aa6d;
      color: white;
      font-weight: 700;
      border: 2px solid #04aa6d;
      border-radius: 12px;
    }
    .login-btn:hover {
      background-color: white;
      color: black;
    }
  </style>
  <div class="content-section">
    <div class="container">
      <form method="POST" action="" class="mx-auto" style="max-width: 400px">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Create Account</legend>
          <div class="form-group">
            <label for="username" class="form-control-label">Username</label>

            {% if form.username.errors %}
            <input
              type="text"
              name="username"
              id="username"
              class="form-control form-control-lg is-invalid"
              value="{{ form.username.data }}"
            />
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="text"
              name="username"
              id="username"
              class="form-control form-control-lg"
              value="{{ form.username.data }}"
            />
            {% endif %}
          </div>

          <div class="form-group">
            <label for="email" class="form-control-label">Email</label>

            {% if form.email.errors %}
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-lg is-invalid"
              value="{{ form.email.data }}"
            />
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-lg"
              value="{{ form.email.data }}"
            />
            {% endif %}
          </div>

          <div class="form-group">
            <label for="password" class="form-control-label">Password</label>

            {% if form.password.errors %}
            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg is-invalid"
            />
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="password"
              name="password"
              id="password"
              class="form-control form-control-lg"
            />
            {% endif %}
          </div>

          <div class="form-group">
            <label for="confirm_password" class="form-control-label"
              >Confirm Password</label
            >

            {% if form.confirm_password.errors %}
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              class="form-control form-control-lg is-invalid"
            />
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              class="form-control form-control-lg"
            />
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group text-center">
          <button type="submit" class="login-btn">Sign Up</button>
        </div>
      </form>
    </div>
  </div>

  <div class="border-top pt-3">
    <small class="text-muted text-center d-block">
      Already have an account?
      <a class="ml-2" href="{{ url_for('login') }}">Log In</a>
    </small>
  </div>
</div>
{% endblock %}
