{% extends "layout.html" %}
{% block body %}

<style>
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: bisque;
    }
    .wrapper{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
/* Add CSS classes from provided CSS */
.seat-type{
    font-size: 18px;
    background-color: cadetblue;
    color: wheat;
    border: 2px solid grey;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;

}
.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 18px;
}

.fl-table thead th {
    color: #ffffff;
    background: #2704f0;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
h1{
	text-align: center;
}
</style>
<div class="wrapper">
<h1> List Of Trains </h1>

<!-- Add classes to the table -->
<div class="table-wrapper">
<table class="fl-table">
    <thead>
        <tr>
            <th> Train Name </th>
            <th> Train Number </th>
            <th> Starting Station </th>
            <th> Destination </th>
            <th> Halting Stations </th>
            <th> Coaches available </th>
            <th> Prices </th>
            <th> Links </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ train_name }} </td>
            <td> {{ train_no }} </td>
            <td> {{ start_station }} </td>
            <td> {{ destination }} </td>
            <td> {{ halting_stations }} </td>
            <td> {{ coachesavailable }} </td>
            <td> {{ coaches_prices }} </td>
            <td>
                <p><a class="seat-type" href="coach1">2S</a></p>
                <p><a class="seat-type" href="coach2">SL</a></p>
                <p><a class="seat-type" href="coach3">3A</a></p>
                <p><a class="seat-type" href="coach4">2A</a></p>

            </td>
        </tr>
    </tbody>
</table>
</div>

<!--<a href="{{ url_for('deletebooking')  }}">Delete Seat Booking</a>-->
<button style="display: block; margin: 0 auto; background-color: #2704f0; color: white; padding: 10px 20px; border: none; border-radius: 5px;" onclick="window.location.href='{{ url_for('deletebooking') }}'">Go to Delete Booking</button>

</div>

{% endblock %}
